{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "80"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}
